{extend name="public/common"}
{block name="body"}
<table width="100%" align="center" class="xg-table">
	<tr>
		<th>ID</th>
		<th>名称</th>
		<th>模块</th>
		<th>操作</th>
	</tr>
	{foreach data v}
		<tr align="center">
			<td>{$v.bid}</td>
			<td>{$v.data.name}</td>
			<td>{$v.block}</td>
			<td>
				<a href="javascript:parent.call_admin_block_show_set('{$v.block}',{$v.bid});" class="xg-a">修改模块</a>
				<a href="javascript:javascript:parent.call_admin_compile_blocks({$v.bid},1);" class="xg-a">编辑子模块</a>
				<a href="{:xg_url('blocks',['pagename'=>$v['bid']])}" class="xg-a">查看子模块</a>
			</td>
		</tr>
	{/foreach}
</table>
<script>$('.header').show();</script>
{/block}
{block name="header"}
{if $block}<a href="{:xg_url('blocks',['pagename'=>$block['pagename']])}">返回上一级</a>{/if}
{/block}