<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
	<title>安装程序 - 讯高小程序</title>
	<link href="__STATIC__/xg/xg.css" rel="stylesheet">
	<script>var xginfo={route:<?php echo XG_ROUTE;?>,app:"<?php echo XG_APP?>",controller:"<?php echo XG_CTL;?>",action:"<?php echo XG_ACT?>",root:"{:xg_url('/');}"};</script>
	<script src="__STATIC__/jquery.js"></script>
	<script src="__STATIC__/xg/xg.js"></script>
	<style>:root{--xg-rgb-r:50;--xg-rgb-g:110;--xg-rgb-b:200;}</style>
	{block name="files"}{/block}
	{block name="style"}{/block}
	{block name="script"}{/block}
</head>
<body>
	{block name="body"}{/block}
	<footer><div class="xg-mt-4 xg-center">Copyright &copy; <?php echo date('Y');?> 讯高小程序</div></footer>
</body>
</html>