<form class="xg-ajax-submit xg-form xg-flex-form" method="post">
	<div class="xg-box xg-box-a">
		<div class="xg-box-title xg-bg"><h3>{if XG_ACT=='config'}设置{else}安装{/if}扩展系统</h3></div>
		<div class="xg-box-cont">
			<div class="xg-mt--4 xg-flex xg-flex-wrap">
				{:xg_form('path','系统路径',$info['path'])->tip('扩展系统的所在的本地路径。比如：D:/wwwroot/ecms 或 /www/wwwroot/ecms')->text()}
				{:xg_form('url','系统访问地址',$info['url'])->tip('扩展系统的访问地址，比如：http://ecms.domain.com')->text()}
				<!-- {:xg_form('database[type]','数据库类型','mysql')->tip('扩展系统的数据库类型')->values(['mysql'=>'MySQL','sqlite'=>'SQLite'])->select()} -->
				{:xg_form('database[host]','数据库地址',$info['database']['host'])->tip('扩展系统的数据库地址，比如：127.0.0.1')->text()}
				{:xg_form('database[port]','数据库地址',$info['database']['port'])->tip('扩展系统的数据库端口，比如：3307，默认为3306')->text()}
				{:xg_form('database[name]','数据库名称',$info['database']['name'])->tip('扩展系统的数据库名称')->text()}
				{:xg_form('database[user]','数据库用户名',$info['database']['user'])->tip('扩展系统的数据库用户名')->text()}
				{:xg_form('database[pass]','数据库密码',$info['database']['pass'])->tip('扩展系统的数据库密码')->text()}
				{:xg_form('database[char]','数据库字符集',$info['database']['char'])->tip('扩展系统的数据库表字符集')->values(['utf8'=>'UTF-8','gbk'=>'GBK','gb2312'=>'GB2312'])->select()}
				{:xg_form('database[prefix]','数据库表前缀',$info['database']['prefix'])->tip('扩展系统的数据库表前缀')->text()}
				{:xg_form('database[cache]',$info['database']['cache'])->hidden()}
				<div class="xg-form-item-width"></div>
				<div class="xg-form-item-width"></div>
				<div class="xg-form-item-width"></div>
				<div class="xg-form-item-width"></div>
				<div class="xg-form-item-width"></div>
				<div class="xg-form-item-width"></div>
				<div class="xg-form-item-width"></div>
				<div class="xg-form-item-width"></div>
				<div class="xg-form-item-width"></div>
				<div class="xg-form-item-width"></div>
				<div class="xg-form-item-width"></div>
				<div class="xg-form-item-width"></div>
				<div class="xg-form-item-width"></div>
			</div>
			<button class="xg-btn xg-mt-4" type="submit">{if XG_ACT=='config'}提交{else}安装{/if}</button>
		</div>
	</div>
</form>