{extend name="public/common"}
{block name="script"}
<script>
function submit(){
	$('.xg-form').submit();
}
</script>
{/block}
{block name="style"}
<style>
h2{font-size:1.5rem;line-height:1.5em;}
.xg-form{margin-top:1rem;}
.site-url{line-height:2.9rem;}
</style>
{/block}
{block name="body"}
<form class="xg-form xg-ajax-submit" method="post">
	<div class="xg-container-m">
		<div class="xg-box xg-box-a">
			<div class="xg-box-title xg-bg">设置信息</div>
			<div class="xg-box-cont">
<div class="xg-mt--4"></div>
<?php echo xg_form_item_text('host','数据库地址','127.0.0.1','');?>
<?php echo xg_form_item_text('name','数据库名称','','');?>
<?php echo xg_form_item_text('user','数据库用户名','','');?>
<?php echo xg_form_item_text('pass','数据库密码','','');?>
<?php echo xg_form_item_text('prefix','数据库表前缀',xg_randstr(4).'_','');?>
<?php echo xg_form_item_text('port','数据库端口','3306','');?>
<?php echo xg_form_item_text('adminname','管理员用户名','','');?>
<?php echo xg_form_item_password('adminpass','管理员密码','','');?>
<?php echo xg_form_item_password('adminpass2','确认密码','','');?>

<div class="xg-form-item-adminpath">
	<?php echo xg_form_item_label("后台管理路径",'为了安全，可以修改后台路径。只能修改admin这部分。');?>
	<div class="xg-form-item">
		<div class="xg-flex"><div class="site-url"><?php echo xg_http_domain().XG_STATIC;?></div><input type="text" name="adminpath" value="admin" class="xg-input-s" /></div>
	</div>
</div>
				<div class="xg-mt-4">
					<div class="xg-flex">
						<a href="{:xg_url('step1')}" class="xg-btn xg-mr-4">上一步</a>
						<a href="javascript:submit();" class="xg-btn">下一步</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
{/block}